# Extração dos dados Enade

---------------------------------------------------------------------------------------------

In [39]:
# importar bibliotecas
import pandas as pd
import numpy as np
import zipfile
import requests
from io import BytesIO
import os

In [40]:
# criar um diretorio para os dados
os.makedirs('./enade2021', exist_ok=True)

In [ ]:
# define a url
url = 'https://download.inep.gov.br/microdados/microdados_enade_2021_LGPD.zip'

# download 
filebytes = BytesIO(
    requests.get(url).content
)

# extrair conteudo
myzip = zipfile.ZipFile(filebytes)
myzip.extractall('./enade2021')

## Verificando os dados baixados

In [41]:
enade = pd.read_csv(
    './enade2021/microdados_enade_2021/microdados_Enade_2021_LGPD/2.DADOS/microdados2021_arq4.txt',
    sep=';', decimal=','
)

In [42]:
enade.head()

,NU_ANO,CO_CURSO,QE_I27,QE_I28,QE_I29,QE_I30,QE_I31,QE_I32,QE_I33,QE_I34,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2021,85058,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,2021,44947,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,2021,624,1.0,1.0,1.0,1.0,1.0,3.0,2.0,2.0,...,7.0,5.0,5.0,8.0,8.0,5.0,1.0,1.0,1.0,5.0
3,2021,1266766,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,4.0,5.0,1.0,7.0,8.0,8.0,8.0,8.0,8.0,8.0
4,2021,99940,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [43]:
enade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489866 entries, 0 to 489865
Data columns (total 44 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   NU_ANO    489866 non-null  int64
 1   CO_CURSO  489866 non-null  int64
 2   QE_I27    408966 non-null  float64
 3   QE_I28    408962 non-null  float64
 4   QE_I29    408962 non-null  float64
 5   QE_I30    408961 non-null  float64
 6   QE_I31    408957 non-null  float64
 7   QE_I32    408951 non-null  float64
 8   QE_I33    408959 non-null  float64
 9   QE_I34    408955 non-null  float64
 10  QE_I35    408957 non-null  float64
 11  QE_I36    408956 non-null  float64
 12  QE_I37    408957 non-null  float64
 13  QE_I38    408957 non-null  float64
 14  QE_I39    408957 non-null  float64
 15  QE_I40    408954 non-null  float64
 16  QE_I41    408956 non-null  float64
 17  QE_I42    408956 non-null  float64
 18  QE_I43    408950 non-null  float64
 19  QE_I44    408947 non-null  float64
 20  QE_I45    408951 non-null  float64
 21  QE_I46    408954 non-null  float64
 22  QE_I47    408952 non-null  float64
 23  QE_I48    408949 non-null  float64
 24  QE_I49    408947 non-null  float64
 25  QE_I50    408947 non-null  float64
 26  QE_I51    408949 non-null  float64
 27  QE_I52    408947 non-null  float64
 28  QE_I53    408949 non-null  float64
 29  QE_I54    408950 non-null  float64
 30  QE_I55    408949 non-null  float64
 31  QE_I56    408948 non-null  float64
 32  QE_I57    408948 non-null  float64
 33  QE_I58    408947 non-null  float64
 34  QE_I59    408945 non-null  float64
 35  QE_I60    408947 non-null  float64
 36  QE_I61    408945 non-null  float64
 37  QE_I62    408945 non-null  float64
 38  QE_I63    408947 non-null  float64
 39  QE_I64    408942 non-null  float64
 40  QE_I65    408946 non-null  float64
 41  QE_I66    408946 non-null  float64
 42  QE_I67    408945 non-null  float64
 43  QE_I68    408950 non-null  float64
dtypes: float64(42), int64(2)
memory usage: 164.4 MB

In [44]:
dict(enade.dtypes)

{'NU_ANO': dtype('int64'),
 'CO_CURSO': dtype('int64'),
 'QE_I27': dtype('float64'),
 'QE_I28': dtype('float64'),
 'QE_I29': dtype('float64'),
 'QE_I30': dtype('float64'),
 'QE_I31': dtype('float64'),
 'QE_I32': dtype('float64'),
 'QE_I33': dtype('float64'),
 'QE_I34': dtype('float64'),
 'QE_I35': dtype('float64'),
 'QE_I36': dtype('float64'),
 'QE_I37': dtype('float64'),
 'QE_I38': dtype('float64'),
 'QE_I39': dtype('float64'),
 'QE_I40': dtype('float64'),
 'QE_I41': dtype('float64'),
 'QE_I42': dtype('float64'),
 'QE_I43': dtype('float64'),
 'QE_I44': dtype('float64'),
 'QE_I45': dtype('float64'),
 'QE_I46': dtype('float64'),
 'QE_I47': dtype('float64'),
 'QE_I48': dtype('float64'),
 'QE_I49': dtype('float64'),
 'QE_I50': dtype('float64'),
 'QE_I51': dtype('float64'),
 'QE_I52': dtype('float64'),
 'QE_I53': dtype('float64'),
 'QE_I54': dtype('float64'),
 'QE_I55': dtype('float64'),
 'QE_I56': dtype('float64'),
 'QE_I57': dtype('float64'),
 'QE_I58': dtype('float64'),
 'QE_I59': dtype('float64'),
 'QE_I60': dtype('float64'),
 'QE_I61': dtype('float64'),
 'QE_I62': dtype('float64'),
 'QE_I63': dtype('float64'),
 'QE_I64': dtype('float64'),
 'QE_I65': dtype('float64'),
 'QE_I66': dtype('float64'),
 'QE_I67': dtype('float64'),
 'QE_I68': dtype('float64')}